.studioComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 390px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .08);
    color: rgb(0, 0, 0);
    width: 540px;
    height: 480px;
    background: rgb(255, 255, 255);
    transition: all 52s ease-in-out;
}

.studioComponent>img {
    width: 514px;
    height: 274px;
    margin: 20px 0px; 
}

.studioComponent>img:first-child {
    width: 100px;
    height: 30px;
}

button>img {
    width: 10px;
    margin-left: 10px;
}

.studioComponent>span {
    color: rgb(178, 121, 121);
}