.mainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  
  .navItems {
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0px 16px;
    color: #282c3f;
    letter-spacing: 0.3px;
    font-weight: 700;
    border-bottom: 2px solid transparent;  
    transition: border-bottom 0.3s ease; 
  }
  
  .navItems:hover {
    border-bottom-color: black;  
  }
  