.cards>img {
    width: 256px;
    height: 390px;
}

.productSlider {
    overflow: hidden;
    margin-top: 80px;
}

.imagesCard {
    display: flex;
    overflow: scroll;
    width: 100%;
}

.cards {
    display: flex;
}

.buttonSlider>span {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0px 10px;
}

.buttonSlider , .buttons {
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center !important;
}
.buttons{
    justify-content: normal !important;
}
.show-hidden {
    background: rgb(255, 214, 214);
}

.show {
    background: #979797;
}

* {
    scrollbar-width: none;
}