.imgSection>img {
    width: 250px;
    border-radius: 10px;
}

.rating>img {
    margin: 1px;
    width: 20px;
}

.productImage {
    z-index: -1;
}

.productCard {
    position: relative;
    border-radius: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin: 10px;
    border: 1px solid rgb(193, 193, 193);
    cursor: pointer;
}

.productCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productCard:hover {
    box-shadow: 0px 0px 10px rgb(194, 194, 194);
}

.productName {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2px 0px;
}

.productMaterial {
    font-size: 12px;
    margin: 2px 0px;
    color: rgb(164, 164, 164);
}

.priceSection {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-weight: 700;
    margin: 4px;
}

.discountedPrice {
    font-size: 12px;
    margin: 2px 4px;
    background: yellow;
    text-decoration:line-through;
}

.totalOff {
    margin: 2px 4px;
    font-size: 12px;
    color: rgb(94, 94, 18);
}
.newIcon{
    width: 50px;
    position: absolute;
    top: 0px;
    left: 10px;
}