.Components {
    position: absolute;
    top: 70px;
    left: 70px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .08);
    color: rgb(0, 0, 0);
    padding: 0px 30px;
    width: 1080px;
    height: 420px;
    background: rgb(255, 255, 255);
    display: flex;
}

.components-container {
    opacity: 0; 
    transition: opacity .3s ease-in-out;  
}

.components-container.show {
    opacity: 1;  
}

.CategoriesName {
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 68, 68);
    margin-bottom: 10px;
}

.column>hr {
    margin-top: 10px;
    width: 97%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.ListColumn {
    width: 200px;
}

.column {
    padding: 20px 10px;
}

.column:nth-child(even) {
    background: #f7f7f7;
}