.profileSection {
    width: 250px;
    height: 400px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .08);
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    background: white;
}

li {
    margin: 5px 0px;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}

li:hover {
    color: black;
    font-weight: 700;
}

.profileSectionLeft>h3 {
    padding-bottom: 5px;
    color: #3e4152;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

hr {
    margin: 10px 0px;
    color: #282c3f;
}

.profileSectionLeft>span {
    color: #44485b;
    font-size: 14px;
}

button {
    display: inline-block;
    padding: 18px 20px;
    margin: 10px 10px 0 0;
    border: 1px solid #eaeaec;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #ff3f6c;
    font-weight: 700;
    background: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    border-color: #ff3f6c;
}
@media screen and (max-width:800px){
    .navProfileItems{
        display: none;
    }
}