.inputBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBar>input {
    background: #f5f5f6;
    font-size: 14px;
    width: 400px;
    height: 20px;
    padding: 8px 10px 10px;
    color: #696e79;
    border: 1px solid #f5f5f6;
    border-radius: 0px 8px 8px 0px;
    outline: none;
}
.inputBar > input:focus{
    background: white;
}

.inputBar>span {
    border-radius: 8px 0px 0px 8px;
    background: #f5f5f6;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBar>span>img {
    rotate: 270deg;
}